<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="/"><i class="fa-solid fa-bars"></i><span class="tooltip">Menu</span></a></li>
                <div class="user-sidebar">
                    <li><a href="/about"><i class="fa-solid fa-house"></i><span class="tooltip">Home</span></a></li>
                    <li><a href="/stats"><i class="fa-solid fa-chart-simple"></i><span class="tooltip">Statistics</span></a></li>
                    <li class="settings"><a href="/settings"><i class="fa-solid fa-cog"></i><span class="tooltip">Settings</span></a></li>
                    <li class="logout"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i><span class="tooltip">Logout</span></a></li>
                </div>
            </ul>
        </div>
        <div class="content">
            <div class="container-task-list">
                <h1>My Task</h1>
                <button class="createTask">
                    <span>New Task</span>
                </button>
            </div>
            <div class="task-container">
                <div class="list-task">

                </div>

                <div class="list-task-info">
                    <div class="task-info">
                        <div class="task-info-title">Task-1</div>
                        <div class="task-info-description">Description</div>
                        <div class="task-info-date">Date</div>
                        <div class="task-info-time">Time</div>
                        <div class="task-info-status">Status</div>
                        <div class="task-info-action">
                            <button class="editTask">
                                <span>Edit</span>
                            </button>
                            <button class="deleteTask">
                                <span>Delete</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
    <script src="https://kit.fontawesome.com/41e0cd7cfa.js" crossorigin="anonymous"></script>
</body>
</html>
