<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="container">
        <div class="left-container">
            <!-- You can add an image or background here -->
        </div>

        <div class="right-container">
            <div class="login-lines">
                <h1>Welcome Back!</h1>
                <p>Please login to your account.</p>
            </div>

            <form action="/login" method="POST">
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Enter Email" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" placeholder="Enter Password" required>
                </div>
                
                <button type="submit">Login</button>
                <div class="proceed-register">New here? <a href="/register">Sign up</a></div>
            </form>
        </div>
    </div>
</body>

</html>
