<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/stats.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="/"><i class="fa-solid fa-bars"></i><span class="tooltip">Menu</span></a></li>
                <div class="user-sidebar">
                    <li><a href="/dashboard"><i class="fa-solid fa-house"></i><span class="tooltip">Home</span></a></li>
                    <li><a href="/stats"><i class="fa-solid fa-chart-simple"></i><span class="tooltip">Statistics</span></a></li>
                    <li class="settings"><a href="/settings"><i class="fa-solid fa-cog"></i><span class="tooltip">Settings</span></a></li>
                    <li class="logout"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i><span class="tooltip">Logout</span></a></li>
                </div>
            </ul>
        </div>
        <div class="content">
            <div class="stats-day-week-container">
                <div class="today-stats">
                    <h1>Today Stats</h1>
                    <div class="stats-div">
                        <div class="total">
                            Total : 20
                        </div>
    
                        <div class="completed">
                            Completed : 10
                        </div>
    
                        <div class="pending">
                            Pending : 10
                        </div>
                    </div>

                    
                </div>

                <div class="week-stats">
                    <h1>Week Stats</h1>
                    <div class="stats-div week-container">

                    </div>
                </div>

            </div>
            <h1 class="data-metrics">
                Data Metrics
            </h1>

            <div class="data-metrics-container">
                <div class="metrics-calculations">
                    <div class="metrics">
                        <h2>Task Completion Rate</h2>
                        <p>80% of tasks were completed this week.</p>
                    </div>
                    <div class="metrics">
                        <h2>Pending Tasks</h2>
                        <p>There are 10 pending tasks for this week.</p>
                    </div>
                    <div class="metrics">
                        <h2>Productivity Score</h2>
                        <p>The team’s productivity score for this week is 90/100.</p>
                    </div>
                    <div class="metrics">
                        <h2>High-Priority Tasks Completion</h2>
                        <p>95% of high-priority tasks were completed this week.</p>
                    </div>
                    <div class="metrics">
                        <h2>Milestone Progress</h2>
                        <p>You’ve completed 70% of tasks for the current milestone.</p>
                    </div>
                    <div class="metrics">
                        <h2>Task Difficulty Distribution</h2>
                        <p>40% of tasks are easy, 35% are medium, and 25% are hard.</p>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <script src="https://kit.fontawesome.com/41e0cd7cfa.js" crossorigin="anonymous"></script>
    <script src="/js/fetchData.js"></script>
</body>
</html>
